<iat-header params='logoImageHeight : logoImageHeight, displaySections: display'></iat-header>

<div id="pageContentWrapper" data-bind="style : { top : logoImageHeight() }">
    <menu-bar params='headerHeight : logoImageHeight(), height : 40, display : display'></menu-bar>    
    <div data-bind="if : display().page === 'page'">
        <page-content params='display : display'></page-content>
    </div>
    
    <div data-bind="if : display().page === 'manual'">
        <div class="manualContent" data-bind="component : { name : display().section, params : { display : display, manualSection : manualSection() }}"></div>
    </div>
</div>
