<svg-header params="caption: 'Commercial Use', template : headerTemplate, display : display"></svg-header>
<p><span class="hilight">IAT Design</span> contains a handful of useful features for commercial use, 
    including the faculties to track test takers across other methods of data collection, retrieve data 
    for individual single test takers via a direct connection to the server as opposed to downloading data 
    with the client program and exporting it to an Excel file before it is accessible. Additionally, 
    though it is not possible to host IATs on your own server, it possible to keep your own domain in the 
    address bar. Below are registration forms for these features.</p>
