<div id="sectionSoftware">
<svg-header params="caption : 'The Software', template : headerTemplate, display : display"></svg-header>
<div style="display: inline-block;">
    <slideshow-canvas params="id : 'section-the-software-slideshow', width : 900, height : 645, loadPhotos : $root"></slideshow-canvas>
</div>
<div style="margin-left: 2%; width: 18%; display: inline-block;">
    <p>My software allows you to design your own IAT with your own images and text and, if you choose
        to use them, numerous options. Once you've finished designing your test, you upload it to my server
        for administration. Then you download the results when you're ready to examine them. With a bit of
        programming knowledge, it's possible to retrieve results on-the-fly as opposed to downloading
        all results and exporting them to an Excel file. If you're ready to test it already, click on the 
        <span class="buttonReference">Get the Software</span> button above.</p> 
</div>
<div>
    <p>Though the software only supports the 7-Block IAT format developed by Greenwald, it allows you
        to customize the layout of your IAT, choose either words or images in your response keys, and create instruction
        blocks to precede any or all sections of the test. It also allows you to design questionnaires to precede and
        follow your IAT. For the more advanced user, it is possible to link IAT results with data gathered on other
        web sites. For a complete list of features, click the <span class="buttonReference">Manual</span> button above or, 
        for quick reference, click one of the links on the left below to learn more.</p>
</div>
<div class="featureContainer">
    <features></features>
</div>
</div>