<div>
	<p>An Implicit Association Test is a means of measuring attitudes involving bias in individuals in a non-falsifiable
	manner. Non-falsifiable how? Test items are typically responded to in a handful of seconds and the response time is
	recorded. Methods have been devised for processing these response times, or latencies, to yield a meaningful
	value.</p>
	<p>Why does this site exist? Because I've developed software that allows people to design IATs with a point
	and click interface and administer them on the Internet. If you're curious about the IAT and what you might
	be able to do with it, click the Contact button above to submit any inquiries. I'm happy to address them.
	If you're already familiar with the test, let me show you what the software can do.</p>  
</div>
