@import url("https://use.typekit.net/ssx7rnd.css");
@import url("https://use.typekit.net/lxb3sjv.css");
@import url("https://use.typekit.net/sra2zjj.css");
/* greenery palettes */
@font-face {
  font-family: TektonPro-BoldExt;
  src: url("../fonts/TektonPro-BoldExt.otf");
}
/* greenery palettes */
@font-face {
  font-family: TektonPro-BoldExt;
  src: url("../fonts/TektonPro-BoldExt.otf");
}
div#pageContentWrapper div.pageContent form {
  text-align: left;
  background-image: url("../images/whitetexture.svg");
  border-image: url("../images/steel-blue-border.png");
  border-image-repeat: repeat;
  border-image-slice: 20%;
  border-image-width: 10px;
  border-image-outset: 8px;
  border-style: solid;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 60px;
  background-repeat: repeat;
  margin: 30px auto 50px auto;
  width: 60%;
}
div#pageContentWrapper div.pageContent form p {
  font-size: 22px;
  font-family: hobeaux-rococeaux-sherman, serif;
  color: rgb(140, 53, 115);
  text-align: left;
}
div#pageContentWrapper div.pageContent form p.hilight {
  color: #c01352;
}
div#pageContentWrapper div.pageContent form p.hilightHover {
  color: rgb(255, 62, 165);
}
div#pageContentWrapper div.pageContent form p.hilightHover:hover {
  cursor: pointer;
  color: rgb(95, 75, 139);
}
div#pageContentWrapper div.pageContent form li {
  font-size: 22px;
  font-family: hobeaux-rococeaux-sherman, serif;
  color: rgb(140, 53, 115);
  text-align: left;
}
div#pageContentWrapper div.pageContent form li.hilight {
  color: #c01352;
}
div#pageContentWrapper div.pageContent form li.hilightHover {
  color: rgb(255, 62, 165);
}
div#pageContentWrapper div.pageContent form li.hilightHover:hover {
  cursor: pointer;
  color: rgb(95, 75, 139);
}
div#pageContentWrapper div.pageContent form h2 {
  font-size: 22px;
  font-family: hobeaux-rococeaux-sherman, serif;
  color: rgb(140, 53, 115);
  text-align: left;
}
div#pageContentWrapper div.pageContent form h2.hilight {
  color: #c01352;
}
div#pageContentWrapper div.pageContent form h2.hilightHover {
  color: rgb(255, 62, 165);
}
div#pageContentWrapper div.pageContent form h2.hilightHover:hover {
  cursor: pointer;
  color: rgb(95, 75, 139);
}
div#pageContentWrapper div.pageContent form span {
  font-size: 22px;
  font-family: hobeaux-rococeaux-sherman, serif;
  color: rgb(140, 53, 115);
  text-align: left;
}
div#pageContentWrapper div.pageContent form span.hilight {
  color: #c01352;
}
div#pageContentWrapper div.pageContent form span.hilightHover {
  color: rgb(255, 62, 165);
}
div#pageContentWrapper div.pageContent form span.hilightHover:hover {
  cursor: pointer;
  color: rgb(95, 75, 139);
}
div#pageContentWrapper div.pageContent form pre {
  font-size: 22px;
  font-family: hobeaux-rococeaux-sherman, serif;
  color: rgb(140, 53, 115);
  text-align: left;
}
div#pageContentWrapper div.pageContent form pre.hilight {
  color: #c01352;
}
div#pageContentWrapper div.pageContent form pre.hilightHover {
  color: rgb(255, 62, 165);
}
div#pageContentWrapper div.pageContent form pre.hilightHover:hover {
  cursor: pointer;
  color: rgb(95, 75, 139);
}
div#pageContentWrapper div.pageContent form h2 {
  font-size: 52px;
  font-family: TektonPro-BoldExt, serif;
}
div#pageContentWrapper div.pageContent form p.errorMessage,
div#pageContentWrapper div.pageContent form h2.globalErrorMessage {
  color: rgb(152, 32, 39);
  text-shadow: 1px 1px 0px rgb(123, 67, 104);
}
div#pageContentWrapper div.pageContent form span.pleaseWait {
  text-align: center;
}
div#pageContentWrapper div.pageContent form div.columns {
  display: grid;
  grid-auto-columns: fit-content(50%);
  justify-content: flex-start;
  align-content: flex-start;
  justify-items: auto;
}
div#pageContentWrapper div.pageContent form div.columns div:nth-of-type(n) {
  box-sizing: border-box;
}
div#pageContentWrapper div.pageContent form div.columns div:nth-of-type(n) div {
  border-left: 1px solid rgb(128, 115, 150);
  padding: 20px 0px 20px 10px;
}
div#pageContentWrapper div.pageContent form div.columns div:first-of-type div {
  border-left: none;
}
div#pageContentWrapper div.pageContent form div.formDataGrid {
  text-align: left;
  display: grid;
  grid-template-columns: min-content 1fr 1fr 5fr;
  grid-auto-rows: minmax(60px, auto);
  min-width: 100%;
}
div#pageContentWrapper div.pageContent form div.formDataGrid p {
  grid-column: 1/5;
}
div#pageContentWrapper div.pageContent form div.formDataGrid p.leftInputLabel {
  grid-column: 1;
  justify-self: flex-end;
  white-space: nowrap;
}
div#pageContentWrapper div.pageContent form div.formDataGrid p.leftInputLabel + input[type=text] {
  grid-column: 2/5;
  align-self: center;
  min-width: 65%;
  margin-left: 5px;
}
div#pageContentWrapper div.pageContent form div.formDataGrid input[type=checkbox],
div#pageContentWrapper div.pageContent form div.formDataGrid input[type=radio] {
  grid-column: 1;
  margin-right: 10px;
  align-self: center;
  justify-self: flex-end;
  font-size: 30px;
  width: 32px;
  height: 32px;
}
div#pageContentWrapper div.pageContent form div.formDataGrid p.rightInputLabel {
  grid-column: 2/5;
  justify-self: flex-start;
}
div#pageContentWrapper div.pageContent form div.formDataGrid p.errorMessage {
  grid-column: 2/5;
  margin: 0px;
  align-self: end;
}
div#pageContentWrapper div.pageContent form div.formDataGrid input[type=text],
div#pageContentWrapper div.pageContent form div.formDataGrid textarea {
  text-align: left;
  font-family: museo-sans-rounded, sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #000;
  background-color: #FFF;
  align-self: left;
  width: 90%;
}
div#pageContentWrapper div.pageContent form div.formDataGrid textarea {
  height: 150px;
  grid-column: 1/5;
  padding: 0px 15px;
}
div#pageContentWrapper div.pageContent form div.formDataGrid input[type=button],
div#pageContentWrapper div.pageContent form div.formDataGrid span.pleaseWait {
  margin: 20px auto;
  grid-column: 2/4;
  min-width: 120px;
  height: 32px;
  font-family: museo-sans-rounded, sans-serif;
  font-weight: 500;
  font-size: 26px;
}
div#pageContentWrapper div.pageContent form span.pleaseWait {
  font-family: myriad-pro, sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: rgb(95, 75, 139);
  text-shadow: 1px 1px 0px #c01352;
}
div#pageContentWrapper div.pageContent form div.fieldSummary p,
div#pageContentWrapper div.pageContent form div.fieldSummary h2 {
  margin-left: 75px;
  text-indent: -25px;
  font-family: hobeaux-rococeaux-sherman, serif;
  font-weight: 400;
}
div#pageContentWrapper div.pageContent form div.fieldSummary p span.fieldName,
div#pageContentWrapper div.pageContent form div.fieldSummary h2 span.fieldName {
  color: rgb(95, 75, 139);
  font-size: 30px;
}
div#pageContentWrapper div.pageContent form div.fieldSummary p {
  color: rgb(163, 87, 118);
  font-size: 30px;
}
div#pageContentWrapper div.pageContent form div.fieldSummary h2 {
  color: rgb(95, 75, 139);
  font-size: 52px;
  margin-left: 100px;
}
div#pageContentWrapper div.pageContent form#oauthConfirmation div.oauthCredentials {
  display: grid;
  grid-template-columns: minmax(max-content, 25%) max-content;
}
div#pageContentWrapper div.pageContent form#oauthConfirmation div.oauthCredentials:nth-child(n) {
  margin: 5px 0px;
}
div#pageContentWrapper div.pageContent form#oauthConfirmation div.oauthCredentials p {
  font-family: hobeaux-rococeaux-sherman, serif;
  font-size: 30px;
  text-indent: 0px;
  margin: inherit;
}
div#pageContentWrapper div.pageContent form#oauthConfirmation div.oauthCredentials p:nth-of-type(2n - 1) {
  color: rgb(95, 75, 139);
  grid-column: 1;
  justify-self: flex-end;
  align-self: center;
  margin-right: 10px;
}
div#pageContentWrapper div.pageContent form#oauthConfirmation div.oauthCredentials p:nth-of-type(2n) {
  color: rgb(163, 87, 118);
  grid-column: 2;
  justify-self: flex-start;
  align-self: center;
}
div#pageContentWrapper div.pageContent form#oauthConfirmation div.oauthCredentials input[type=text] {
  justify-self: flex-start;
  align-self: center;
  width: 100%;
  position: relative;
  font-family: museo-sans-rounded, sans-serif;
  font-weight: 700;
  font-size: 30px;
  background-color: #fff;
  color: rgb(163, 87, 118);
  text-shadow: 1px 1px 0px rgb(71, 36, 59);
  grid-column: 2;
}
div#pageContentWrapper div.pageContent form#oauthConfirmation div.oauthCredentials input[type=button] {
  grid-column: 1/3;
  justify-self: center;
  margin-top: 10px;
}

/*# sourceMappingURL=forms.css.map */
