<p>Though IATs consist of seven blocks, it is only necessary to create the first two. The others are 
generated for you when you click the <span class="buttonReference">Generate 7-Block IAT</span> button in the main 
interface. One of the first two blocks consists of stimuli from the the axis you are attempting to measure prejudice 
or bias upon.
The other consists of a response key that portrays the polar opposites of that bias, and the associated stimuli.</p>
<p>For instance, the screen-shot below depicts the axis you are attempting to measure bias upon. The next block 
might consist simply of a scoring key with the words <span class="hilight">Good</span> and <span class="hilight">Bad</span>
and word stimuli
that fall into those two categories. To open the interface below, click <span class="buttonReference">Add IAT Block</span>
in the opening panel, select the IAT block you just created in the contents list to the left, and click the 
<span class="buttonReference">Edit</span>
button in the bottom of the preview pane on the right.</p>
<div>
<picture>
    <source srcset="images/block-design-screenshot.webp" type="image/webp" />
    <source srcset="images/block-design-screenshot.png" type="image/png" />
    <img src="images/block-design-screenshot.png" />
</picture>
</div>
<p>To create an IAT block such as the one shown, first select a response key from the drop-down list or, if you 
have yet to create a response key, click <span class="buttonReference">Create / Manage Keys</span>.
Next, add your stimuli by repeatedly clicking the <span class="buttonReference">Add Stimulus</span> button and, for 
each, creating a text or image stimuli by browsing for
an image on your computer or entering the text of your stimulus and selecting a font, color, and font size.
It is also necessary to key each stimulus towards the appropriate response key value. It is also common practice 
to enter parsimoniously worded instructions to appear at the bottom of your IAT block.</p>
<p>If you are using only text stimuli throughout your IAT, it is strongly recommended
that you use two different fonts or font colors for the stimuli in block 1 and the stimuli in block 2.</p>
<p>You can scroll through and edit your stimuli using the bar at the bottom. Once you are finished, simply 
click <span class="buttonReference">Done</span>.</p>
