<p>The software allows you to create simple questionnaires to accompany your IAT. You may choose from
a total of ten different response types. Questionnaires can either precede or follow the IAT and need
not contain questions at all if you need a screen of instructions before the IAT begins. You can also
enter acceptable ranges of values for responses.</p>
<div>
    <picture>
    <source srcset="images/questionnaire-screenshot.webp" type="image/webp" />
    <source srcset="images/questionnaire-screenshot.png" type="image/png" />
    <img src="images/questionnaire-screenshot.png" />
</picture>    
</div>
<p>The above depicts a questionnaire as the test-taker would see it. Below, you see the corresponding
questionnaire design screen.</p>
<div>
    <picture>
        <source srcset="images/quetionnaire-design-screenshot.webp" type="image/webp" />
        <source srcset="images/questionaire-design-screenshot.png" type="image/png" />
        <img src="images/questionnaire-design-screenshot.png" />
    </picture>
</div>
<p>A collection of response types are available to choose from, including having the user enter a pin
number that matches a list you upload to the server. Aside from multiple choice, multiple selection,
fill in the blank, likert, true/false, and date responses, users familiar with regular expressions,
which are documented exhaustively on the Internet, maybe create response type restrictions of almost
any form.</p>
<p>One limitation of questionnaires designed with this software is that no functionality is provided
for logic or branching. Workarounds are discussed in the last section of the software manual.</p>
